variables:
  GITHUB_MIRROR: https://github.com/tuanpham96/gl-gh-ci-mirror-test
  GITHUB_ACTIONS_URL: https://api.github.com/repos/tuanpham96/gl-gh-ci-mirror-test/actions/runs
  PARENT_PIPELINE_ID: $CI_PIPELINE_ID # see <https://gitlab.com/gitlab-org/gitlab/-/issues/213457#note_1129225239>
  GITHUB_ACTIONS_DATA_DIR: gh-act
  CHILD_CI_FILE: $CI_DATA_DIR/gl-ci-report.yml
  CHILD_TEMPLATE: .gitlab/gitlab-ci.jsonnet

stages:
  - Independent Gitlab CI
  - From Github Actions

gl-job-a:
  stage: Independent Gitlab CI
  image: python:3.10.6-slim
  script:
    - python --version
    - echo "hello A"

gl-job-b:
  stage: Independent Gitlab CI
  image: python:3.11-slim
  script:
    - python --version
    - echo "hello B"

get-gh-log:
  stage: From Github Actions
  image: debian:stable-slim
  when: delayed
  start_in: 10 seconds
  before_script:
    - apt-get update -y && apt-get upgrade -y
    - apt-get install curl jq unzip jsonnet -y
  script:
    - bash .gitlab/get-gh-log.sh
  artifacts:
      paths:
        - $GITHUB_ACTIONS_DATA_DIR/*
      expire_in: 1 hour

trigger-report:
  stage: From Github Actions
  needs:
    - job: get-gh-log
      artifacts: true
  trigger:
    include:
      - artifact: $CHILD_CI_FILE
        job: get-gh-log
    strategy: depend
